@model StocksApp.Models.Stock
@{
    ViewBag.Title = "Home";
}

<div class="box trading-panel">

    <div class="flex trading-panel-flex">

        <div id="stock-price-panel">
                <a asp-controller="Trade" asp-action="Detail" asp-route-id=@Model.Symbol>
                    <h1 class="stock-title">@(Model.StockName + " (" + Model.Symbol + ")")</h1>
                </a>

                <table>
                    <tbody>
                        <tr>
                            <td>Current:</td>
                            <th><small>$</small> <span class="price">@Model.CurrentPrice.ToString("N")</span></th>
                        </tr>

                        <tr>
                            <td>High:</td>
                            <th><small>$</small> <span class="price">@Model.HighestPrice.ToString("N")</span></th>
                        </tr>

                        <tr>
                            <td>Low:</td>
                            <th><small>$</small> <span class="price">@Model.LowestPrice.ToString("N")</span></th>
                        </tr>

                        <tr>
                            <td>Open:</td>
                            <th><small>$</small> <span class="price">@Model.OpenPrice.ToString("N")</span></th>
                        </tr>
                    </tbody>
                </table>
                <a asp-controller="Trade" asp-action=@Model.Symbol asp-route-id="trading">Trade</a>
            </div>

        </div>
    </div>
